{% load static %}
<footer class="border-t border-neutral bg-white">
  <div class="max-w-7xl mx-auto px-4 py-8">
    <div
      class="flex flex-col md:flex-row md:items-center md:justify-between gap-6"
    >
      <!-- Left: Copyright -->
      <div class="text-center md:text-left">
        <p class="text-sm text-muted">
          &copy; 2019 <span class="text-primary font-medium">Company</span>. All
          rights reserved.
        </p>
      </div>

      <!-- Center: Contact Info -->
      <div
        class="flex flex-col sm:flex-row flex-wrap justify-center items-center gap-3 sm:gap-6 text-sm"
      >
        <span
          class="flex items-center gap-2 text-muted hover:text-primary transition cursor-pointer"
        >
          <i class="bi bi-envelope"></i> info@pixsellz.io
        </span>

        <span
          class="flex items-center gap-2 text-muted hover:text-primary transition cursor-pointer"
        >
          <i class="bi bi-telephone"></i> +879-332-9375
        </span>

        <span
          class="flex items-center gap-2 text-muted hover:text-primary transition"
        >
          <i class="bi bi-geo-alt"></i> Street name 123
        </span>
      </div>

      <!-- Right: Payment Icons -->
      <div class="flex items-center justify-center md:justify-end gap-3">
        <img src="{% static 'images/misc/payments.png' %}" alt="" />
      </div>
    </div>
  </div>
</footer>
