<!--prettier-ignore-->
{% extends 'base.html' %}
{% load static %}

{% block title %} Store {% endblock %}

{% block content %}

<!-- Page Header -->
<section class="">
  <div class="max-w-7xl mx-auto px-4 py-4">
    <div class="flex flex-col gap-2">
      <h1 class="text-2xl md:text-3xl font-bold text-primary">Our Store</h1>

      <p class="text-muted text-sm md:text-base">
        Explore our latest collections and trending products.
      </p>
    </div>
  </div>
</section>

<!-- Store Content -->
<section class="py-4 bg-white">
  <div class="max-w-7xl mx-auto px-4">
    <div class="grid grid-cols-1 md:grid-cols-12 gap-6 lg:gap-8">
      <!-- Sidebar -->
      <aside class="md:col-span-4 lg:col-span-3">
        <div class="space-y-5">
          <!-- Categories-->
          {% include 'store/partials/categories.html' %}
          <!-- Sizes -->
          {% include 'store/partials/sizes.html' %}
          <!-- Price -->
          {% include 'store/partials/prices.html' %}
        </div>
      </aside>

      <!-- Products -->
      <main class="md:col-span-8 lg:col-span-9">
        <!-- Top -->
        <div
          class="flex flex-col sm:flex-row sm:items-center sm:justify-between gap-3 border-b border-neutral pb-4 mb-6"
        >
          <p class="text-muted">
            <span class="font-semibold text-primary">{{products_count}}</span>
            items found
            <!--prettier-ignore-->
            {% if selected_category %}
             in
            <span class="font-semibold text-primary">
              {{ selected_category.name}}
            </span>
            Category {% endif %}
          </p>

          <div class="flex items-center gap-3">
            <button
              class="border border-neutral rounded-lg px-4 py-2 text-sm hover:border-primary transition"
            >
              Latest
            </button>

            <button
              class="border border-neutral rounded-lg px-4 py-2 text-sm hover:border-primary transition"
            >
              Popular
            </button>
          </div>
        </div>

        <!-- Products Grid -->
        <div
          class="grid grid-cols-2 lg:grid-cols-3 gap-4 md:gap-6"
          x-data="updateCartScrollRestore()"
          x-init="restoreScroll()"
        >
          <!--prettier-ignore-->
          {% for product in products %}
          {% include 'store/partials/product_card.html'%}
          {% empty %}
          {% include 'store/partials/no_products_found.html' %}
          {% endfor %}
        </div>
        {% include 'store/partials/pagination.html' %}
      </main>
    </div>
  </div>
</section>

{% endblock %}
