<div
  id="cart-item-{{ product.id }}"
  class="group bg-white border border-neutral rounded-2xl overflow-hidden hover:shadow-xl transition duration-300"
>
  <!-- Image -->
  <a
    href="{% url 'product_details' product.slug %}"
    class="block overflow-hidden bg-neutral"
  >
    <img
      src="{{ product.image_url }}"
      class="w-full h-44 md:h-56 object-cover group-hover:scale-105 transition duration-300"
    />
  </a>

  <!-- Content -->
  <div class="p-4">
    <a
      href="{% url 'product_details' product.slug %}"
      class="font-medium text-sm md:text-base line-clamp-2 hover:text-primary transition"
    >
      {{ product.name }}
    </a>

    <div class="flex items-center gap-2 mt-2">
      <span class="text-accent font-bold text-lg"> ${{ product.price }} </span>

      <del class="text-muted text-sm"> ${{ product.original_price }} </del>
    </div>

    {% include 'store/partials/add_to_cart_button.html' %}
  </div>
</div>
